[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
mypy = "*"
prospector = "*"
pytest = "*"
requests = "*"

[requires]
python_version = "3.9"
